## 这些后缀的不要：
*.dll
*.docx
*.scc
*.pdb
*.sublime-project
*.sublime-workspace

## 这些文件夹不要：
log/
obj/
govments/
sqlite3/
bin/Debug/
bin/Release/
MQRobot/
Debug/
Release/

## 特殊文件夹下的后缀文件：
FlowRobot/*.txt
