<?xml version="1.0" encoding="utf-8" ?>
<lib4Net.logger>
  <appender name="FileAppender" level="All" source="Main"
          type="Lib4Net.Logs.Appenders.FileAppender">
    <param name="File" value="D:/logs/%sr/%l/%date.log"/>
    <param name="DateFormat" value="YYYYMMddhhmmss"/>
    <param name="MaxFileSize" value="1M"/>
    <layouts>
      <layout level="Fatal">[%yy-%mm-%dd %h:%mi:%s:%fff][%thread][%sr][%ip] %message%br%e%br%trace%br</layout>
      <layout level="Error">[%yy-%mm-%dd %h:%mi:%s:%fff][%thread][%sr][%ip] %message%br%e%br%trace%br</layout>
      <layout level="Debug">[%yy-%mm-%dd %h:%mi:%s:%fff][%thread][%sr][%ip] %message%br</layout>
      <layout level="Info">[%yy-%mm-%dd %h:%mi:%s:%fff][%thread][%sr][%ip] %message%br</layout>
    </layouts>
  </appender>
</lib4Net.logger>